@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Louis-George-Café text-blue-zodiac/80;
  }
}

@layer utilities {
  .cut-text-1 {
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }

  .cut-text-2 {
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }

  .cut-text-3 {
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }

  .cut-text-4 {
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }

  .cut-text-5 {
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
  }

  .mobile-nav-btn {
    @apply bg-transparent border border-opacity-50 bg-opacity-75 hover:bg-razzmatazz shadow-xl py-2 px-4 w-full 
                rounded-lg mb-4 flex justify-start items-center;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
  }

  button:disabled,
  button[disabled] {
    @apply opacity-50 transform transition-all pointer-events-none text-opacity-50;
  }

  input:disabled,
  input[disabled] {
    @apply opacity-50 transform transition-all pointer-events-none;
  }

  select:disabled,
  select[disabled] {
    @apply opacity-50 transform transition-all pointer-events-none;
  }

  .disabled {
    @apply opacity-50 transform transition-all pointer-events-none;
  }

  .razzmatazz-to-transparent {
    @apply border border-razzmatazz 
            bg-razzmatazz shadow-lg shadow-razzmatazz/40 text-gray-50
              transform transition-colors duration-300
              hover:bg-transparent hover:border-razzmatazz hover:text-blue-zodiac/80;
  }

  .razzmatazz-to-white {
    @apply border border-razzmatazz 
            bg-razzmatazz shadow-lg shadow-razzmatazz/40 text-gray-50
              transform transition-colors duration-300
              hover:bg-gray-50 hover:border-razzmatazz hover:text-blue-zodiac/80;
  }

  .zodiac-to-transparent {
    @apply bg-blue-zodiac text-gray-50  
         shadow-lg shadow-blue-zodiac/40
                      transform transition-colors duration-300
                  hover:bg-transparent hover:text-blue-zodiac/70 
                  border border-blue-zodiac;
  }

  .common-input {
    @apply placeholder-blue-zodiac/60  border border-gray-500/30 rounded-lg  focus:outline-none;
  }

  .zodiac-border-to-zodiac-bg {
    @apply border 
             border-blue-zodiac transform transition-all duration-500
            hover:bg-blue-zodiac hover:text-gray-50 shadow-sm shadow-blue-zodiac/40;
  }

  .smooth-animate {
    @apply transform transition-all duration-300;
  }

  .skeleton {
    @apply animate-pulse opacity-80 bg-gray-300;
  }

  #map-container > div {
    @apply h-full w-full;
  }

  .modal-open {
    @apply overflow-hidden;
  }

  .input-focus {
    @apply focus:outline-none 
    focus:border-pink-500/30
    will-change-transform transform 
    transition-all duration-75;
  }

  .modal-backdrop {
    @apply fixed top-0 left-0 w-full
       h-full z-50 flex justify-center items-center backdrop-blur-sm bg-blue-zodiac/25;
  }

  .safari-overflow-fix. {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }

  select::-ms-expand {
    display: none;
  }

  select {
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
  }

  img {
    pointer-events: none;
  }

  .underline-link {
    @apply text-razzmatazz hover:underline transform transition-all duration-300;
  }
}
